.navbar {
    border: none;
}
.gratisspelet-header {
    height: 768px;
    padding: 40px 0;
}
.navbar-header {
    float: initial;
    text-align: center;
}
.navbar-brand {
    float: initial;
    display: inline-block;
    margin-top: -30px;
}
.collapse {
    background: $brand-primary;
    border-bottom: 5px solid $secondary;
}
.navbar-toggle {
    border-color: #FFFFFF;
    margin-top: 20px;
    margin-right: 0;
    .icon-bar {
        background: #FFFFFF;
    }
}


@media (max-width: 1600px) {
    .gratisspelet-header {
        height: 655px
    }
}
@media (max-width: 1336px) {
    .gratisspelet-header {
        height: 580px
    }
}
@media (max-width: 1024px) {
    .gratisspelet-header {
        height: 500px
    }
}
@media (min-width: 991px) {
    .gratisspelet-header {
        position: relative;
        padding-bottom: 120px;
    }
    .navbar-collapse.collapse {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
    .navbar-nav {
        display: inline-block;
    }
    .search-toggle {
        display: inline-block;
        background: url(../images/search-icon.png) center center no-repeat;
        padding: 0 20px;
        height: 62px;
        margin: 0;
        vertical-align: middle;
    }
    .gratisspelet-search-form {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(100% + 5px);
        text-align: center;
        background: $secondary !important;
        padding-bottom: 5px;
        .searchform {
            max-width: 1170px;
            margin: auto;
            input {
                height: 35px;
            }
            .search-button {
                top: 0;
                right: 0;
                width: 35px;
                background: $secondary url(../images/search-icon.png) center center no-repeat;
            }
        }
    }
    .gratisspelet-search-form.collapse {
        background: none;
        border-bottom: 0;
    }
}
@media (max-width: 990px) {
    #wpadminbar {
        position: fixed;
    }
    .admin-bar {
        .gratisspelet-header {
            top: 32px;
        }
    }
    .navbar {
        padding: 10px 0;
    }
    .gratisspelet-header {
        padding: 0;
        height: auto;
        background: #000000 !important;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .banner-image-mobile {
        height: 400px;
        padding: 0 0 20px;
        background-position: center bottom 20px;
        background-repeat: no-repeat;
    }
    .navbar-brand {
        margin-top: 0;
        float: left;
    }
    .navbar-collapse.collapse {
        position: absolute;
        left: 15px;
        top: 100px;
        width: 100%;
        padding: 0;
    }
    .navbar-nav {
        background: $brand-primary;
    }
    .search-toggle {
        display: none;
    }
    div#gratisspelet-search {
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-brand > img {
        max-height: 60px;
    }
    .navbar-toggle {
        margin-top: 12px;
    }
    .navbar-collapse.collapse {
        top: 80px;
    }
}
@media (max-width: 768px) {
    .admin-bar {
        .gratisspelet-header {
            top: 42px;
        }
    }
    .banner-image-mobile {
        height: 350px;
    }
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
    .banner-image-mobile {
        height: 280px;
    }
}