.hero-banner {
    position: relative;
    .desktop-logo {
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        @include transform(-50%,-50%);
        text-align:center;
    }
    .header-text {
        text-transform: uppercase;
        font-family: $font-family-base;
    }
    .banner-image {
        width: 100%;
    }
}

@include xs {
    .hero-banner {
        .banner-image {
            display: none;
        }
        .banner-image-mobile {
            height: 160px;
            background-position: center;
        }
    }
}